.reservations-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-field {
  margin: 10px;
  height: 30px;
}

.submit-btn {
  margin: 10px;
  background-color: rgb(62, 96, 62);
  color: white;
  height: 30px;
  text-align: center;
}